<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/main-logo.png') }}" />
    <title>About</title>
    
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
  </head>
  <body>
    <!-- Start header -->
    <header id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-12 col-12">
            <a class="linklogo" href="{{ url_for('home') }}">
              <img src="{{ url_for('static', filename='img/main-logo.png') }}" alt="logo" />
            </a>
            <span class="menubtn"><i class="fa-solid fa-bars"></i></span>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-12">
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 col-12">
            <div class="btnheader">
              <a class="mainbtn link6" href="{{ url_for('home') }}">Try It Now</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End header -->

    <!-- Start about -->
    <section class="about">
      <div class="container">
        <div class="uplogo">
          <img src="{{ url_for('static', filename='img/main-logo.png') }}" alt="" />
        </div>
        <div class="row">
          <div class="col-md">
            <h4>Our Mission</h4>
            <p>
              At VTSL, we believe that knowledge is a fundamental right, and no
              disability should stand in the way of learning. Our mission is to
              break communication barriers and empower the deaf community with
              seamless access to education through advanced technology.
            </p>
            <p>
              We develop innovative sign language solutions, creating an
              inclusive learning environment where every student, regardless of
              hearing ability, can learn, engage, and succeed. By integrating
              speech recognition and natural language processing, we transform
              spoken language into sign language in, bridging the gap between
              sound and silence.
            </p>
            <p>
              Education is not a privilege—it is a right. We are committed to
              equipping deaf individuals with the tools they need to access
              knowledge effortlessly. With innovation as our foundation and
              inclusivity as our goal, we strive to build a world without
              barriers.
            </p>
            <a class="mainbtn link6" href="{{ url_for('home') }}">Try It Now</a>
          </div>
          <div class="col-md">
            <img src="{{ url_for('static', filename='img/about.jpeg') }}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End about -->

    <!-- Start footer -->
    <footer>
      <div class="container">
        <p>All Rights Are Reserved &copy;</p>
      </div>
    </footer>
    <!-- End footer -->

    <!-- JS Files -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
  </body>
</html>
